/* body {
    padding: 10px;
} */

h1 { 
    color: white !important; 
    background-image: linear-gradient(to right, blue , darkblue);

}

/* .margin {
    margin: 5px;
} */

/* .flexContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
} */

/* .fiveDayContainer {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
} */